.container {
    display: flex;
    justify-content: center; /* 水平方向に中央に配置 */
    align-items: center; /* 垂直方向に中央に配置 */
    height: 10%; /* ビューポートの高さいっぱいに表示 */
    border-top: 1px solid rgba(128, 128, 128, 0.495);
    position: fixed;
    bottom:0;
}

.icon{
  display: flex;
  justify-content: space-between;
  width: 100%;
}