.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid gray;
}

.container>*:nth-child(1) {
    justify-self: start;
}
.container>*:nth-child(2) {
    justify-self: center;
}
.container>*:nth-child(3) {
    justify-self: end;
}