        .circle {
            display: inline-block;
            background-color: white;
            width: 100px;
            height: 100px;
            padding: 20px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            transform: rotate(-10deg);
        }
       