.flameAll {
  display: flex;
  height: 88%;
  width: 100%;
 
}

.flameAll2 {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;

}



.flame {
  display: grid;
  align-items: center;
  height: 100%;
  width: 94%;
  border-top: 15px solid #B37D4D;
  border-right: 15px solid #D2AE7E;
  border-bottom: 15px solid #B37D4D;
  border-left: 15px solid #D2AE7E;
  box-shadow: inset 0 0 10px #000;
  background-color: #d2ae7e29;
  padding: 3% 3%;
}

.flame2 {
  display: flex;
  height: 85%;
  width: 100%;
}
.grid{  
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
}

.square1 {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 130px;
  height: 170px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  transform: rotate(-1deg);
  position: relative;
}

.square2 {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 130px;
  height: 170px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  transform: rotate(1deg);
  position: relative;
}

.square3 {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 130px;
  height: 170px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  transform: rotate(-2deg);
  position: relative;
}

.square4 {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 130px;
  height: 170px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  transform: rotate(2deg);
  position: relative;
}

.square5 {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 130px;
  height: 170px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  transform: rotate(-3deg);
  position: relative;
}

.square6 {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 130px;
  height: 170px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  transform: rotate(3deg);
  position: relative;
}

.square7{
  display: flex;
  justify-content: center;
  background-color: white;
  width: 130px;
  height: 170px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.square8 {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 130px;
  height: 170px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.pin{
  position: absolute;
  top: 0%;
  left:40%;
  transform : translate(-50%, -70%);
 
}

.photoflame{
  display: flex;
  width: 100%;
  justify-content: center;
 
}

.photo{
  width: 110px;
  height: 110px;
  margin-top: 13px;
}

.date{
  position: absolute;
  bottom: 0;
  text-align: end;
  width: 100%;
  padding-right: 3px;
  font-size: 0.75em;
}